<div class="container">

  <div class="row text-center py-5" data-aos="fade-right">
    <div class="col-12">
      <h1 class="title">Sobre Nós</h1>
    </div>
  </div>

  <div class="row pt-2" data-aos="fade-left">
    <div class="col-6 text-center d-flex justify-content-center">
      <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed earum quo, officiis cum voluptates
        voluptas fugit quibusdam? Ipsum obcaecati quasi aspernatur, vero voluptates odit. Ad harum earum saepe in rerum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed earum quo, officiis cum voluptates
        voluptas fugit quibusdam? Ipsum obcaecati quasi aspernatur, vero voluptates odit. Ad harum earum saepe in rerum?
      </p>
    </div>
    <div class="col-6 text-center">
      <h4>Endereço</h4>
      <p>15013-190</p>
      <p>Rua Padre José Bento</p>
      <p>Vila Diniz</p>
      <p>São José do Rio Preto - SP</p>
    </div>
  </div>

  <div class="row text-center pt-5" data-aos="fade-right">
    <div class="col-12">
      <h3 class="subTitle">Profissionais</h3>
    </div>
  </div>


</div>
