<div  data-aos="fade-right">
  <div class="container my-5">
    <div class="row my-2">
      <div class="col-12">
        <h1 class="title">Sua Comida Favorita</h1>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/order-delivery.png" class="card-img-top imgCards" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Fácil de Pedir</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/car-delivery.png" class="card-img-top imgCards" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Entrega Rápida</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/quality-delivery.png" class="card-img-top imgCards" alt="..." />
          <div class="card-body">
            <h5 class="card-title">A Melhor Qualidade</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
