<div class="background-inteiro">
  <div class="container">

    <div class="row section pt-4 pb-4" data-aos="fade-left">
      <div class="col-md-5 col-12 mt-4">
        <h1 class="titleHome">
          A Melhor Comida <br />
          da Região
        </h1>
        <p class="descHome my-4">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium
          illum esse facilis aspernatur, dolores mollitia ullam, deserunt unde
          saepe vel corrupti distinctio optio temporibus. Velit libero impedit
          ipsam architecto autem!
        </p>
        <a href="#cardapio" class="btnHome">Ir para o Cardápio</a>

      </div>
      <div class="col-md-7 col-12 d-flex justify-content-end">
        <img src="../../assets/food.jpg" alt="" class="imgModal" />
      </div>
    </div>
    
  </div>
</div>
